.pain-wrapper-first{
    position: absolute;
    top: 440px;
    left: 380px;
}

.pain-first{
    width: 200px;
    animation: scale 0.5s linear 0s 3 forwards, opacity 0.5s linear 2s forwards;
}

.pain-wrapper-second{
    position: absolute;
    top: 400px;
    left: 690px;
}

.pain-second{
    width: 200px;
    animation: scale 0.5s linear 0s 3 forwards, opacity 0.5s linear 2s forwards;
}

.text-wrapper{
    font-size: 32px;
    position: absolute;
    top: 150px;
    left: 60px;
}

@keyframes scale {
    0% {
        width: 200px; 
    }
    50% {
        width: 220px; 
    }
    100% {
        width: 200px; 
    }
}

@keyframes opacity{
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0.5; 
    }
    100% {
        opacity: 0; 
    }
}


.drug-container{
    width: 1200px;
    height: 890px;
    background-color: #f0ffff80;
    position: absolute;
    top: 0px;
    opacity: 0;
    animation: surfacing 2s ease-in 3s forwards;   
}

@keyframes surfacing {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;        
    }
}

.structure-image{
    position: absolute;
    top: 150px;
    left: 180px;
}

.scopolamint-image{
    position: absolute;
    top: 340px;
    left: 480px;
}

.left-text{
    position: absolute;
    top: 150px;
    left: 240px;
    color: rgba(255, 255, 255, 0.877);
    z-index: 2;
    font-size: 30px;
}

.right-text{
    position: absolute;
    top: 150px;
    left: 740px;
    color: rgba(255, 255, 255, 0.877);
    z-index: 2;
    font-size: 30px;
}

@keyframes hide-vein{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        
    }
}

.vein-image-1 {
    position: absolute;
    top: 350px;
    left: 260px;
    animation: hide-vein 3s linear 2s 1 forwards;
}

.vein-image-2 {
    position: absolute;
    top: 305px;
    left: 320px;
    animation: hide-vein 3s linear 2s 1 forwards;
}

.vein-image-3 {
    position: absolute;
    top: 350px;
    left: 420px;
    animation: hide-vein 3s linear 2s 1 forwards;
}

.vein-image-4 {
    position: absolute;
    top: 320px;
    left: 720px;
    animation: hide-vein 3s linear 2s 1 forwards;
}

.vein-image-5 {
    position: absolute;
    top: 320px;
    left: 820px;
    animation: hide-vein 3s linear 2s 1 forwards;
}

.vein-image-6 {
    position: absolute;
    top: 645px;
    left: 320px;
    animation: hide-vein 3s linear 6s 1 forwards;
}

.vein-image-7 {
    position: absolute;
    top: 640px;
    left: 520px;
    animation: hide-vein 3s linear 6s 1 forwards;
}

.vein-image-8 {
    position: absolute;
    top: 620px;
    left: 620px;
    animation: hide-vein 3s linear 6s 1 forwards;
}

.vein-image-9 {
    position: absolute;
    top: 620px;
    left: 820px;
    animation: hide-vein 3s linear 6s 1 forwards;
}

.vein-image-10 {
    position: absolute;
    top: 600px;
    left: 880px;
    animation: hide-vein 3s linear 6s 1 forwards;
}

.brown-left-wrapper{
    position: absolute;
    top: 655px;
    left: 450px;
    width: 50px;
    height: 25px;
    animation: scale-brown-left 8s linear 9s forwards; 
}

.brown-left{
    position: relative;
    right: 15px;
    bottom: 15px;
}


@keyframes scale-brown-left {
    0% {
        width: 50px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 50%;
    }
    16% {
        width: 70px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 50%;
    }
    32% {
        width: 50px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 50%;
    }
    48% {
        width: 70px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 50%;
    }
    64% {
        width: 50px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 50%;
    }
    82% {
        width: 70px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 50%;

    }
    100% {
        width: 40px;
    }
}

@keyframes scale-brown-right {
    0% {
        width: 50px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 70%;
    }
    16% {
        width: 70px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 70%;
    }
    32% {
        width: 50px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 70%;
    }
    48% {
        width: 70px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 70%;
    }
    64% {
        width: 50px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 70%;
    }
    82% {
        width: 70px;
        box-shadow: 0px 0px 30px 20px #ffffffe5;
        border-radius: 70%;

    }
    100% {
        width: 50px;
    }
}

.brown-right-wrapper{
    position: absolute;
    width: 50px;
    height: 25px;
    top: 650px;
    left: 720px;
    animation: scale-brown-right 8s linear 9s forwards; 
}

.brown-right{
    position: relative;
    right: 15px;
    bottom: 15px;
}

@keyframes change-position-1 {
    0%{
        position: absolute;
        top: 330px;
        left: 390px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 470px;
        left: 370px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 690px;
        left: 350px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 690px;
        left: 350px;
        opacity: 0;
    }
}

.orange-cell-1{
    position: absolute;
    top: 330px;
    left: 490px;
    animation: change-position-1 4s linear 3s 1 forwards;
}

@keyframes change-position-2 {
    0%{
        position: absolute;
        top: 330px;
        left: 465px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 490px;
        left: 445px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 690px;
        left: 425px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 690px;
        left: 425px;
        opacity: 0;
    }
}

.orange-cell-2{
    position: absolute;
    top: 330px;
    left: 465px;
    animation: change-position-2 4s linear 3s 1 forwards;
}

@keyframes change-position-3 {
    0%{
        position: absolute;
        top: 360px;
        left: 460px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 520px;
        left: 420px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 690px;
        left: 380px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 690px;
        left: 380px;
        opacity: 0;
    }
}

.orange-cell-3{
    position: absolute;
    top: 360px;
    left: 460px;
    animation: change-position-3 3s linear 3s 1 forwards;
}

@keyframes change-position-4 {
    0%{
        position: absolute;
        top: 360px;
        left: 495px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 520px;
        left: 465px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 690px;
        left: 420px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 690px;
        left: 420px;
        opacity: 0;
    }
}

.orange-cell-4{
    position: absolute;
    top: 360px;
    left: 495px;
    animation: change-position-4 3s linear 3s 1 forwards;
}

@keyframes change-position-5 {
    0%{
        position: absolute;
        top: 350px;
        left: 480px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 520px;
        left: 440px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 690px;
        left: 400px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 690px;
        left: 400px;
        opacity: 0;
    }
}

.orange-cell-5{
    position: absolute;
    top: 350px;
    left: 480px;
    animation: change-position-5 3s linear 3s 1 forwards;
}

@keyframes change-position-6 {
    0%{
        position: absolute;
        top: 330px;
        left: 710px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 510px;
        left: 750px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 650px;
        left: 790px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 650px;
        left: 790px;
        opacity: 0;
    }
}

.red-cell-1{
    position: absolute;
    top: 330px;
    left: 710px;
    animation: change-position-6 4s linear 3s 1 forwards;
}

@keyframes change-position-7 {
    0%{
        position: absolute;
        top: 340px;
        left: 725px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 510px;
        left: 740px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 630px;
        left: 760px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 630px;
        left: 760px;
        opacity: 0;
    }
}


.red-cell-2{
    position: absolute;
    top: 340px;
    left: 725px;
    animation: change-position-7 4s linear 3s 1 forwards;
}

@keyframes change-position-8 {
    0%{
        position: absolute;
        top: 360px;
        left: 720px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 510px;
        left: 700px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 640px;
        left: 680px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 640px;
        left: 680px;
        opacity: 0;
    }
}

.red-cell-3{
    position: absolute;
    top: 360px;
    left: 720px;
    animation: change-position-8 4s linear 3s 1 forwards;
}

@keyframes change-position-9 {
    0%{
        position: absolute;
        top: 340px;
        left: 725px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 510px;
        left: 735px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 650px;
        left: 750px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 650px;
        left: 750px;
        opacity: 0;
    }
}

.red-cell-4{
    position: absolute;
    top: 365px;
    left: 735px;
    animation: change-position-9 4s linear 3s 1 forwards;
}

@keyframes change-position-10 {
    0%{
        position: absolute;
        top: 380px;
        left: 740px;
        opacity:1;
    }
    50%{
        position: absolute;
        top: 510px;
        left: 760px;
        opacity: 0;
    }
    98%{
        position: absolute;
        top: 650px;
        left: 780px;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 650px;
        left: 780px;
        opacity: 0;
    }
}

.red-cell-5{
    position: absolute;
    top: 380px;
    left: 740px;
    animation: change-position-10 4s linear 3s 1 forwards;
}